<div id="body_bg">
<div class="row">
  <div id="buttonToPage" class="col-md-12">
    <a href="/tutoring/1">Hynson Tutoring</a>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    
  </div>
</div>

</div>